consumer/src/main/resources/courses.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tns="http://ashimjk.com/courses"
                  targetNamespace="http://ashimjk.com/courses">

    <wsdl:types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
                   elementFormDefault="qualified"
                   targetNamespace="http://ashimjk.com/courses">

            <xs:element name="GetAllCourseDetailRequest">
                <xs:complexType/>
            </xs:element>

            <xs:element name="GetAllCourseDetailResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" name="CourseDetail" type="tns:CourseDetail"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="GetCourseDetailRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="id" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="GetCourseDetailResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="CourseDetail" type="tns:CourseDetail"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="DeleteCourseDetailRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="id" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="DeleteCourseDetailResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="status" type="tns:Status"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:complexType name="CourseDetail">
                <xs:sequence>
                    <xs:element name="id" type="xs:int"/>
                    <xs:element name="name" type="xs:string"/>
                    <xs:element name="description" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>

            <xs:simpleType name="Status">
                <xs:restriction base="xs:string">
                    <xs:enumeration value="SUCCESS"/>
                    <xs:enumeration value="FAILURE"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:schema>
    </wsdl:types>

    <wsdl:message name="GetAllCourseDetailRequest">
        <wsdl:part element="tns:GetAllCourseDetailRequest" name="GetAllCourseDetailRequest"/>
    </wsdl:message>

    <wsdl:message name="GetAllCourseDetailResponse">
        <wsdl:part element="tns:GetAllCourseDetailResponse" name="GetAllCourseDetailResponse"/>
    </wsdl:message>

    <wsdl:message name="GetCourseDetailRequest">
        <wsdl:part element="tns:GetCourseDetailRequest" name="GetCourseDetailRequest"/>
    </wsdl:message>

    <wsdl:message name="GetCourseDetailResponse">
        <wsdl:part element="tns:GetCourseDetailResponse" name="GetCourseDetailResponse"/>
    </wsdl:message>

    <wsdl:message name="DeleteCourseDetailRequest">
        <wsdl:part element="tns:DeleteCourseDetailRequest" name="DeleteCourseDetailRequest"/>
    </wsdl:message>

    <wsdl:message name="DeleteCourseDetailResponse">
        <wsdl:part element="tns:DeleteCourseDetailResponse" name="DeleteCourseDetailResponse"/>
    </wsdl:message>

    <wsdl:portType name="CoursesPort">
        <wsdl:operation name="DeleteCourseDetail">
            <wsdl:input message="tns:DeleteCourseDetailRequest" name="DeleteCourseDetailRequest"/>
            <wsdl:output message="tns:DeleteCourseDetailResponse" name="DeleteCourseDetailResponse"/>
        </wsdl:operation>

        <wsdl:operation name="GetAllCourseDetail">
            <wsdl:input message="tns:GetAllCourseDetailRequest" name="GetAllCourseDetailRequest"/>
            <wsdl:output message="tns:GetAllCourseDetailResponse" name="GetAllCourseDetailResponse"/>
        </wsdl:operation>

        <wsdl:operation name="GetCourseDetail">
            <wsdl:input message="tns:GetCourseDetailRequest" name="GetCourseDetailRequest"/>
            <wsdl:output message="tns:GetCourseDetailResponse" name="GetCourseDetailResponse"/>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="CoursesPortSoap11" type="tns:CoursesPort">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

        <wsdl:operation name="DeleteCourseDetail">
            <soap:operation soapAction=""/>
            <wsdl:input name="DeleteCourseDetailRequest">
                <soap:body use="literal"/>
            </wsdl:input>

            <wsdl:output name="DeleteCourseDetailResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="GetAllCourseDetail">
            <soap:operation soapAction=""/>
            <wsdl:input name="GetAllCourseDetailRequest">
                <soap:body use="literal"/>
            </wsdl:input>

            <wsdl:output name="GetAllCourseDetailResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="GetCourseDetail">
            <soap:operation soapAction=""/>
            <wsdl:input name="GetCourseDetailRequest">
                <soap:body use="literal"/>
            </wsdl:input>

            <wsdl:output name="GetCourseDetailResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:service name="CoursesPortService">
        <wsdl:port binding="tns:CoursesPortSoap11" name="CoursesPortSoap11">
            <soap:address location="http://localhost:8080/ws"/>
        </wsdl:port>
    </wsdl:service>

</wsdl:definitions>